body {
  text-align: center;
}

h2 {
  color: #93329e;
}

.container {
  margin-top: 5px;
  width: 1150px;
  height: 610px;
  border: 3px solid #ffe3fe;
  box-sizing: border-box;
}

.top {
  background-color: #ffe3fe;
  padding: 2px;
}

.nav-grid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  color: darkturquoise;
  border: 1px solid #ffe3fe;
  a {
      background-color: #fff;
    float: left;
    display: block;
    padding: 10px 60px;
    border: 2px solid #ffe3fe;
    border-bottom: 5px solid #ffe3fe;
    border-radius: 4px;
    font-size: 22px;
    &:first-of-type {
      border-left: 5px solid #ffe3fe;
    }
    &:last-of-type {
      border-right: 5px solid #ffe3fe;
    }
  }
}
.nav-bar {
  border-bottom: 2px solid #ffe3fe;
}

.grid-container {
  border: 2px solid black;
  float: left;
  display: grid;
  padding: 10px;
  margin: 25px;
  height: 350px;
  width: 670px;
  margin-top: 50px;

  grid-template-areas:
    "input input input input input input input "
    "input input  input input input input input "
    "rad rad . . . . . "
    ". . . . . . . "
    ". . . . . . . "
    ". . . . . . . ";

  grid-column-gap: 3px;
  
  button {
    width: 80px;
    padding: 10px;
    margin: 2px;
    font-size: medium;
  }
  .rad {
    grid-area: rad;
    width: 180px;
    padding: 10px;
    margin: 2px;
    span {
      color: grey;
    }
  }
  .item1,
  .item2 {
    border: none;
    border-radius: 6px;
    background-color: #e7e7e7;
  }
  
  input[type="text"] {
    grid-area: input;
    width: 100%;
    font-size: 2rem;
    margin: 10px 0;
    box-sizing: border-box;
  }
  input[type="text"]::placeholder {
    text-align: right;
  }
}

.header {
  border: 3px solid #ffe3fe;
}

.img-container {
  float: right;
}
.footer {
  border: 3px solid #ffe3fe;
  background-color: #ffe3fe;
  width: 1140px;
  height: 10px;
  position: absolute;
  top: 600px;
}
